In [1]:
import pandas as pd
from matplotlib import pyplot as plt

# Estadísticos de Tendencia Central

### Media aritmética y media ponderada

**Ejemplo.** Supóngase que un estudiante quiere calcular una medida que represente su rendimiento en el curso. La nota obtenida en cada asignatura y sus créditos son

In [2]:
datos = {
    'Asignatura':['Matemáticas','Economía','Química'],
    'Créditos':[6,4,8],
    'Nota':[5,3,6]
}
notas_df = pd.DataFrame(datos)
notas_df

    Asignatura  Créditos  Nota
0  Matemáticas         6     5
1     Economía         4     3
2      Química         8     6

La media aritmética vale

In [8]:
nota1 = notas_df.loc[0,'Nota']
nota2 = notas_df.loc[1,'Nota']
nota3 = notas_df.loc[2,'Nota']
n = notas_df['Nota'].count()
media_aritmetica = (nota1+nota2+nota3)/n 
media_aritmetica

4.666666666666667

La media ponderada

In [9]:
nota1 = notas_df.loc[0,'Nota']
nota2 = notas_df.loc[1,'Nota']
nota3 = notas_df.loc[2,'Nota']
peso1 = notas_df.loc[0,'Créditos']
peso2 = notas_df.loc[1,'Créditos']
peso3 = notas_df.loc[2,'Créditos']
media_ponderada = ((nota1*peso1)+(nota2*peso2)+(nota3*peso3))/(peso1+peso2+peso3)
media_ponderada

5.0

### La mediana

**Ejemplo.** Encontrar la mediana de los siguientes datos:

1, 2, 4, 2, 2, 2, 3, 2, 1, 1, 0, 2, 2, 0, 2, 2, 1, 2, 2, 3, 1, 2, 2, 1, 2

In [11]:
datos = [1, 2, 4, 2, 2, 2, 3, 2, 1, 1, 0, 2, 2, 0, 2, 2, 1, 2, 2, 3, 1, 2, 2, 1, 2]
serie = pd.Series(datos)
serie.median()

2.0

### Moda

**Ejemplo.** Encontrar la moda de los datos anteriores

In [12]:
serie.mode()

0    2
dtype: int64