In [1]:
import pandas as pd
from matplotlib import pyplot as plt

### Desviación respecto a la media

**Ejemplo 1**

En un partido de baloncesto, se tiene la siguiente anotación en los jugadores de un equipo: 0,2,4,5,8,10,10,15,38. Calcular la desviación respecto a la media de las puntuaciones de los jugadores del equipo.

In [6]:
datos = {'Anotaciones':[0,2,4,5,8,10,10,15,38]}
desviacion_df = pd.DataFrame(datos)
desviacion_df.head()

   Anotaciones
0            0
1            2
2            4
3            5
4            8

In [32]:
desviacion_df['Desviación (Di)'] = desviacion_df['Anotaciones'] - desviacion_df['Anotaciones'].mean()
desviacion_df = desviacion_df.round(2)
desviacion_df

   Anotaciones  Desviación (Di)
0            0           -10.22
1            2            -8.22
2            4            -6.22
3            5            -5.22
4            8            -2.22
5           10            -0.22
6           10            -0.22
7           15             4.78
8           38            27.78

**Ejemplo 2**

En la siguiente tabla se muestran las notas de Juan en los exámenes de matemáticas durante el año. Calcular las distintas desviaciones respecto a la media.

In [11]:
datos = {
    'Nota':[3,4,5,6,7,9],
    'Ponderación':[1,3,4,2,3,1]
}
examenes_df = pd.DataFrame(datos)
examenes_df

   Nota  Ponderación
0     3            1
1     4            3
2     5            4
3     6            2
4     7            3
5     9            1

In [17]:
#Calculando el promedio ponderado
sumatoria1 = 0
sumatoria2 = 0
for i in examenes_df.index:
    sumatoria1 += examenes_df.loc[i,'Nota'] * examenes_df.loc[i,'Ponderación']
    sumatoria2 += examenes_df.loc[i,'Ponderación']
prom_ponderado = sumatoria1/sumatoria2

5.5

In [34]:
examenes_df['Desviación (Di)'] = examenes_df['Nota'] - prom_ponderado
examenes_df

   Nota  Ponderación  Desviación (Di)
0     3            1             -2.5
1     4            3             -1.5
2     5            4             -0.5
3     6            2              0.5
4     7            3              1.5
5     9            1              3.5

### Desviación media

**Ejemplo 1**

Los resultados de Jorge en dibujo técnico a lo largo del curso son los siguientes: 8,7,9,8,8,10,9,7,4,9. Calcular la desviación media.

In [25]:
notas = pd.Series([8,7,9,8,8,10,9,7,4,9])
media = notas.mean()
sumatoria = 0
for i in notas.index:
    sumatoria += abs(notas.iloc[i]-media)
desviacion_media = sumatoria/notas.count()
desviacion_media

1.14

**Ejemplo 2**

En un partido de baloncesto, se tiene la siguiente anotación en los jugadores de un equipo: 0,2,4,5,8,10,10,15,38. Calcular la desviación media de las puntuaciones de los jugadores del equipo.

In [30]:
anotacion = pd.Series([0,2,4,5,8,10,10,15,38])
media = anotacion.mean()
media
sumatoria = 0
for i in anotacion.index:
    sumatoria += abs(anotacion.iloc[i]-media)
desviacion_media = sumatoria/anotacion.count()
desviacion_media

7.234567901234568